/***Instructions Page***/
#instruction {
    padding: 50px 0;
}

#instruction .container {
    margin-top: 20px;
}

#instruction .font-size-large {
    font-size: 18px; /* 調整文字大小 */
}

/* ... 其他樣式 ... */

