/***About Us Page***/
#aboutUs {
  padding: 50px 0;
}

#aboutUs .container {
  margin-top: 20px;
}

#aboutUs .card {
  transition: transform 0.3s ease-in-out;
  border: 1px solid #ddd; /* 添加邊框 */
  border-radius: 10px; /* 圓角 */
  overflow: hidden; /* 隱藏超出邊框的部分 */
}

#aboutUs .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

#aboutUs .card:hover {
  transform: scale(1.05);
}

#aboutUs .card-body {
  text-align: center;
}

#aboutUs .card-title {
  color: #333; /* 調整標題文字顏色 */
}

#aboutUs .card-text {
  color: #666; /* 調整內容文字顏色 */
}

#aboutUs .mb-4 {
  transition: transform 0.3s ease-in-out;
}

#aboutUs .mb-4:hover {
  transform: scale(1.05);
}

/* ... 其他樣式 ... */