/***Work Carousel***/
#workCarousel {
    width: 600px; /* 固定寬度 */
    height: 400px; /* 固定高度 */
    margin: 0 auto;
    overflow: hidden; 
}

#workCarousel .carousel-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease; 
}

#workCarousel .carousel-inner .item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
}


/* Add more styles as needed */
