/***My Info Page***/
#myInfo {
    padding: 50px 0; /* 設定整個區塊的內間距 */
}

#aboutMe img {
    object-fit: cover;
    display: block;
    margin: auto;
    border: 2px solid #ddd;
    border-radius: 50%; /* Optional: add rounded corners for a circle */
}

