body {
    background-color: #f5f2ed;
    height: 100vh;
    width: 100vw;
    padding: 0px;
}



.designList-container {
    /*background-color: antiquewhite;*/
    height: 100%;
    width: 100%;
    padding: 0px;
    padding-top: 5%;
    }

.createPage {
    /*background-color: brown;*/
    display: flex;
    justify-content: center;
    height: 85%;
    width: 100%;
}

.designPage {
    background-color: pink;
    height: 100%;
    width: 100%;
}

.slideBtn {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border: 0cm;
    margin: 5px;
    background-color: #f5f2ed;
    font-size: 25px;
    font-weight: 550;
    font-family: "Courier New", Courier, monospace;
}

.slideBtn:hover {
    background-color: #dedbd7;
}

.slideBtn:active {
    background-color: #c3bfbc;
}

.space {
    height: 45.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;   
}

.addSlideBtn {
    border-radius: 10px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    margin-top: auto;
    /*background-color: #f5f2ed;*/
    background-color: #dedbd7;
    font-size: 25px;
    font-weight: 550;
    font-family: "Courier New", Courier, monospace;
}

.addSlideBtn:hover {
    background-color: #c3bfbc;
}

.addSlideBtn:active {
    background-color: #ada9a7;
}
